body {
}
button {
  width: 95px;
  height: 95px;
}
.buttons {
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-right: 95px;
  gap: 5px;
}

.calculator {
  height: 500px;
  width: 500px;
  background-color: #d4af37;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.display {
  height: 50px;
  width: 400px;
  background-color: antiquewhite;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 25px;
  font-weight: 900;
  margin-bottom: 7px;
}
